
/*-----------------------NAV---------------------*/


nav{background: linear-gradient(0deg, rgba(1,89,88,1) 0%, rgba(2,53,53,1) 65%);}

nav img{width: 65px;}

.input_responsive input{
    width: 0px;
    height: 40px;
    padding: 0 20px;
    font-size: 18px;
    color: rgba(1,89,88,1);
    outline: none;
    border-radius: 30px;
    transition: all 0.6s ease;}

.input_responsive .btn{position: relative;
    right: 49px;
    bottom: 2px;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    background-color: rgba(1,89,88,1);
    color: white;
    border-radius: 50%;
    padding: 0px;}

.nav{display: none;}

.input_responsive:hover input{width: 240px;}

.nav_redirects i{margin-right: 20px;
    color: white;}

.SearchBar input{width: 60%;
    height: 42px;
    background: #0CABA8;
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    border-radius: 5px;}

.List li{text-shadow: 0px 4px 4px rgba(0, 0, 0, 1);}

.List a{text-decoration: none;
    font-weight: 400;
    font-size: 25px;
    color: white;
    margin: 5px;}

/*-----------------------Gird Main---------------------*/

.Main_Section_img{display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto auto auto;
    grid-template-areas:     "Ofertas Notebook Notebook"
                             "Ofertas Notebook Notebook"
                             "Ofertas Horario atencion"
                             ;
    padding: 5% 8%; 
    gap: 3%;}

.Main_Section_img img{height: 100%;
        width: 100%;}

.Ofertas{grid-area: Ofertas;}

.Notebook{grid-area: Notebook;}

.Horario{grid-area: Horario;}

.Attention{grid-area: Atencion;}

/*-----------------------CARROUSEL ITEMS---------------------*/

.Cards-Wrap{display: flex;}


.Cards-Wrap .card{background-color:rgb(186, 185, 185);
    margin: 5px;
    flex-direction: column;
    text-align: center;}


.card-body p{font-size: 20px;
    line-height: 41px;}

/*-----------------------FAQ---------------------*/

.FAQ li{background-color: white;
    border: 1px solid rgba(2,53,53,1);
    display: flex;
    justify-content: space-between;
    padding: 20px 10px 20px 10px;}

/*-----------------------MICUENTA---------------------*/

.Micuenta button{width: 50%;
    height: 60px;
    background-color: rgba(1,89,88,1);}

/*-----------------------REGISTRARSE---------------------*/

.list input{width:80%;}

.Register button{width: 50%;
    height: 60px;
    background-color: rgba(1,89,88,1);}


/*-----------------------QUIENESSOMOS---------------------*/

.Quienes_Somos .Banner img {height: 350px;}
        
.Nosotros p{width: 100%;
    margin-bottom: 20px;}
    
.ComoTrabajamos{flex-direction: column;
    align-items: center;}
        
.ComoTrabajamos p{width: 100%;
    order: 1;}
    
.ComoTrabajamos img{order: 2;
    margin-top: 20px;}
        
.Quienes_Somos .Banner img{height: 170px;}
    

/*-----------------------FOOTER---------------------*/

footer{background-color: rgb(186, 185, 185);}

footer i{color: rgba(1,89,88,1);}

footer p{margin: 0;
    padding: 2px;}

.Cont_Footer a{text-decoration: none;}

.Cont_Footer{border-bottom: 2px solid rgba(2,53,53,1);
    padding: 10px 0px;}

.Cont_Footer--I{border-bottom: none;}

@media screen and (min-width:768px) {
    .Cont_Footer {border-bottom: none;
    padding: 50px;}}


